body {
  padding-top: 70px;
  background-image: url("../multimedia/img/fondo.jpg");
  backgroun-repeat: no-repeat;
  width=100%;
  height=100%;
  margin=0;
  border=0;
  padding=0;
}

.dropdown-menu>li>a:hover {
  color: white;
  background-color: black;
}
